<div >
    <div class="img-bg">
        <img src="../../../assets/images/bg-header-desktop.svg" alt="" class="bg-image">
    </div>
    
    <div class="container-select row">
        <ul class="box-role row ">
            <div class="name-role" *ngFor="let item of itemsFilter">
                <div  class="item-filter">{{item}}</div>
                <button class="button-delete" (click)="removeItem(item)" *ngIf="itemsFilter.length > 0">
                    <img class="icon-remove" src="../../../assets/images/icon-remove.svg" alt=""
                        >
                </button>
                    </div>
                    <div class="clear " (click)="clearFilter()"><div >Clear</div></div>
                </ul>
    
    </div>
    
    
    <div class="container-jobs col-6" *ngFor="let job of jobs">
        <div  class="sub-container col-6" >
            <ul class="list-img">
                <li> <img [src]="job.logo" alt=""></li>  
            </ul>
    
            <ul class="list">
                <li class="header-title" >
                    <div class="name-title">
                        {{job.company}}
                    </div>
                    <div class="new" *ngIf="job.new">
                       <span class="span-label">NEW</span>
                    </div>
                    <div class="featured " *ngIf="job.featured"> <span class="span-label">FEATURED</span></div>
                </li>
                <div class="skill" >{{job.position}}</div>
                <ul  class="footer-description">
                    <div class="day" >{{job.postedAt}}</div>
                   <div class="time" >
                    <li >{{job.contract}}</li>
                   </div>
                   <div class="location" >
                    <li >{{job.location}}</li>
                   </div>
                </ul>
    
            </ul>
            
            
        </div>
    
        <ul class="list-label row" *ngFor="let item of job.languages">
            <div class="languages" (click)="filter(item)">
                <div class="filter"  >{{item}}</div>
            </div>
        </ul>
        </div>
    
</div>