@media only screen and (max-width:708px) {
    .footer-description{
        width: 34vh;
    }
    .container-jobs{
        display: block !important;
        width: auto !important;
    }
    .sub-container{
        display: block !important;
    }
  }
  @media only screen and (max-width:475px) {
    .footer-description{
        width: 34vh;
    }
    .container-jobs{
        height: auto !important;
        margin: 5% !important;
    }
    .sub-container{
        display: block;
    }
    .header-title{
        width: 30vh;
    }
    .list{
        padding: 0;
    }
  
  }
.container-select {
    border-radius: 1px;
    padding: 5px;
    width: 72%;
    height: 10vh;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 14%;
}

.button-delete {
    background-color: hsl(180deg 50.14% 56.08%);
    border-radius: 0 5px 5px 0;
    border: 0;
    color: #FFF;
    width: 4vh;
    height: 4vh;
    outline: 0;
    cursor: pointer;

}
.button-delete:hover{
    background: hsl(180, 14%, 20%);
}

.name-role {
    background-color: rgb(245 240 240);
    width: auto;
    height: 4vh;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    color: hsl(180deg 50.14% 56.08%);
    margin: 0% 2vh;
    display: flex;
    justify-content: flex-end;

}

.box-role {
    display: flex;
    margin: 2vh 5vh;
    float: left;
}

.clear {
    border-bottom: 1px solid;
}

.container-jobs {
    border-left: 5px solid hsl(180deg 50.14% 56.08%);
    padding: 5px;
    width: 72%;
    height: 25vh;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 2% 14%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.box-skills,
.clear {
    color: hsl(180deg 50.14% 56.08%);
    float: right;
    margin: 2%;
    cursor: pointer;
    height: 19px;
}

.box-skills {
    margin: 4%;
}

.new {
    width: 50px;
    background: hsl(180deg 50.14% 56.08%);
}

.featured {
    width: 80px;
    background: rgb(31, 34, 34);
}
.new, .featured{
    font-size: 15px;
    flex-flow: column-reverse;
    color: #FFF;
    height: 29px;
    border-radius: 16px;
    margin: 1vh 1vh;
}

.info-card {
    margin: 3vh;
    align-self: flex-start;
}
.img {
    margin: 5vh;
    height: 11vh;
}
.skill{
    font-size: 24px;
    text-align: initial;
    width:39vh;
}
.name-title{
    // font-size: 19px;
    margin: 1vh 0;
}

.name-title,.skill{
    color: hsl(180deg 50.14% 56.08%);
}
.footer-description{
    color:   hsl(180, 8%, 52%);
    padding: 0;

}
.footer-description,.name-title{
    font-size: 19px;
}

.footer-description,.info-card, .featured,.new ,.box-skills,.header-title,.sub-container,.container-jobs{
    display: flex;
}
.span-label{
    margin: 2px;
}
.header-title{
    height: 6vh;
}
.day{
    text-align: initial;
}
.day, .location{
    margin: 2vh 0;
}
.time{
    margin: 2vh   5vh  ; 
}
.location, .time{
    list-style: disc;
}
.sub-container{
     margin: 3vh 2vh;
}
.list, .list-img, .list-label{
    list-style: none;
}
.list-img{
    margin: 3vh 0;
}
.list-label{
    margin: auto;
    display: flex;
}
.languages{
    margin: 2vh;
    background-color: rgb(245 240 240);
    width: 12vh;
    height: 4vh;
    font-size: 20px;
    border-radius: 5px 0 0 5px;
    color: hsl(180deg 50.14% 56.08%);
}
.languages:hover{
    background: hsl(180, 33%, 52%);
    color: hsl(180, 52%, 96%);
}
